<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{chat.sender.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
</ion-content>
<ion-footer>
    <ion-item class="item-down padding-top">
      <ion-textarea class="message-textarea" rows="6" placeholder="Write your message">
      </ion-textarea>
    </ion-item>
  <span small class="button button-clear button-positive custom-button">
    <ion-icon name="send" class="icon-toggle"></ion-icon>
  </span>
</ion-footer>