// Colors
$shade:      #C5C2C1;
$gray:       #96989C;

// Border
$border-1px: $shade 1px solid;

// Layouts

$screen-xs:       600px;
$screen-sm:       960px;
$screen-md:       1280px;
$screen-lg:       1920px;